<h1>タスク管理一覧</h1>
<p><%= notice %></p>
<div class = "container-fluid">
    <li>タスク検索<%= form_with(model: Task.new, method: :get, local: true) do |form| %>
      <%= form.text_field :name %>
    </li>
    <li>ステータス検索</li>
    <li><%= form.select :status, [["未着手", "0"], ["着手中", "1"], ["完了", "2"]], include_blank: "選択して下さい" %></li>  
    <li>
      <button type="button" class="btn btn-lg btn-primary"><%= form.submit '検索', name: nil %></button>
    </li>  
      <% end %> 
  </ul>
</div>

<table>
  <tr>
    <th>タスク</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>タスク作成時間</th>
    <th>ステータス</th>
    <th>優先度</th>
  </tr>

<% @tasks.each do |task| %>
  <tr class="index-contents">
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline %></td>
    <td><%= task.created_at %></td>
    <td><%= task.status%></td>
    <td><%= task.priority %></td>
    <td><%= link_to '詳細', task_path(task.id)%></td>
    <td><%= link_to '編集', edit_task_path(task.id), data: {confirm: '本当にタスクを編集してよろしいですか？'} %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete, data: {confirm: '本当にタスクを削除してよろしいですか？'}%></td>
  </tr>
<% end %>
</table>
<td><%= link_to '終了期限で並び替える',tasks_path(sort_expired: "true")%></td><br>
<td><%= link_to '優先度で並び替える',tasks_path(sort_priority: "true")%></td><br>
<%= link_to '新規タスク作成', new_task_path %>
<%= paginate @tasks %>